header{
  padding: 0 16px;
  background-color: #696969;
}
header h1{
  color: #fff;
}
main{
  max-width: 768px;
  margin: 0 auto;
}
.login_form{
  max-width: 500px;
  margin: 0 auto;
}
.login_form label{
  display: block;
}
.login_form input{
  margin-bottom: 16px
}
.login_form button{
  border: none;
  color: #fff;
  padding: 4px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0000cd;
}
